// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.restaurant-card {
  width: 200px;
  box-shadow: 0 0 15px grey;
  margin-top: 40px;
}

.restaurant-details {
  padding: 10px;
}

.btn {
  color: white;
}
